@import "src/styles";

.user-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-card {
  justify-content: space-between;
  margin: 12px;
  width: 150px;
  min-width: 150px;
  height: 100px;
  border-radius: 12px;
}

.user-card mat-icon {
  @include md-icon-size(80px);
}

.user-name {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.done-icon {
  background-color: mat-color($cyan, 500);
  border-radius: 9px;
  margin-left: 4px;
  min-width: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.pending-icon {
  color: #404040;
}

.user-avatar {
  font-size: 72px;
}

.color-0 { color: #6666ff }
.color-1 { color: #339933 }
.color-2 { color: #ff9900 }
.color-3 { color: #990000 }
.color-4 { color: #003399 }
.color-5 { color: #cc0099 }
.color-6 { color: #33ccff }
.color-7 { color: #666699 }
.color-8 { color: #666633 }
.color-9 { color: #006666 }


.estimation-card {
  width: 100px;
  height: 136px;
  border-radius: 16px;
  position: absolute;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;

  &.above {
    bottom: -165px;
  }

  &.below {
    top: -165px;
  }

  &.left {
    right: -125px;
    bottom: -8px;
  }

  &.right {
    left: -125px;
    bottom: -8px;
  }

  .card-value {
    font-size: 48px;
    user-select: none;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    cursor: default;
  }

  .card-back {
    background-color: #212121;
    border-radius: 11px;
    user-select: none;
    backface-visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    width: 92px;

    img {
      width: 74px;
      -moz-backface-visibility: hidden;
    }
  }
}

@media (min-height: 900px) and (max-height: 1200px) {
  .estimation-card {
    width: 80px;
    height: 109px;
    border-radius: 13px;

    &.above { bottom: -130px; }
    &.below { top: -130px}
    &.left { bottom: -2px; right: -100px; }
    &.right { bottom: -2px; left: -100px; }
    .card-value { font-size: 36px; }

    .card-back {
      border-radius: 10px;
      width: 74px;
      height: 103px;

      img {
        width: 74px;
      }
    }
  }

  .user-card { height: 80px; }
  .user-card mat-icon { @include md-icon-size(50px); }
}

@media (max-height: 900px) {
  .estimation-card {
    width: 70px;
    height: 95px;
    border-radius: 11px;

    &.above { bottom: -110px; }
    &.below { top: -110px}
    &.left { bottom: -15px; right: -85px; }
    &.right { bottom: -15px; left: -85px; }
    .card-value { font-size: 34px; }

    .card-back {
      border-radius: 9px;
      width: 67px;
      height: 90px;

      img {
        width: 64px;
      }
    }
  }

  .user-card {
    height: 30px;
    width: 130px;
    min-width: 130px;
    justify-content: center;

    & mat-icon { display: none; }

    .user-name { font-size: 18px }
  }
}
