<mat-card class="user-card" @firstRender>
  <mat-icon *ngIf="!user.spectator" class="user-avatar" inline="true">account_circle</mat-icon>
  <mat-icon *ngIf="user.spectator" class="user-avatar" inline="true">visibility</mat-icon>
  <strong class="user-name color-{{user.id % 10}}">{{user.name}}</strong>

  <ng-container *ngIf="estimation">
    <div [ngClass]="'estimation-card ' + positionToDesk" [@flipCard]="taskVotedByAll || taskDone || isCurrentUser" @slideUp>
      <strong class="card-value">{{estimation && estimation.card && estimation.card.value}}</strong>
      <div class="card-back">
        <img class="card-back-logo" src="assets/images/logo-hpp.svg" alt="estimation card back"/>
      </div>
    </div>
  </ng-container>

</mat-card>
