<div *ngIf="!loggedUser">
  <div>YOU MUST BE LOGGED IN</div>
</div>

<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item *ngFor="let task of tasks" (click)="taskSelected($event, task); sidenav.close()"
      class="task-list-element {{task.id == currentTask.id ? 'selected-task-list' : ''}}">
        <span>{{task.title}}</span>
        <ng-container *ngIf="task.done()">
          <mat-icon class="done-icon task-list-icon" inline="true">done</mat-icon>
        </ng-container>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <div *ngIf="loggedUser">
      <button mat-raised-button type="button" aria-label="Toggle sidenav" (click)="sidenav.toggle()"
              color="primary" class="toggle-button">
        <mat-icon aria-label="Side nav toggle icon">list</mat-icon>
        {{ 'planning.room.taskList.button' | translate }}
      </button>

      <ng-container *ngIf="currentTask">
        <h3>{{'planning.room.task.title' | translate:{ title: currentTask.title } }}</h3>
        <span *ngIf="currentTask.finalEstimation">{{'planning.room.task.final-estimation' | translate:{ estimation: currentTask.finalEstimation } }}</span>

        <div class="users-container">
          <ng-container *ngFor="let user of usersInRoom; let i = index">
            <mat-card class="user-card">
              <strong class="user-name color-{{i % 10}}">{{user.name}}</strong>

              <ng-container *ngIf="taskVotedByAll || taskDone && getEstimation(user.id)">
                <strong>{{getEstimation(user.id).name}}</strong>
              </ng-container>

              <ng-container *ngIf="!taskVotedByAll && !taskDone">
                <ng-container *ngIf="getEstimation(user.id)">
                  <mat-icon class="done-icon" inline="true">done</mat-icon>
                </ng-container>


                <ng-container *ngIf="!getEstimation(user.id)">
                  <ng-container *ngIf="!(user.id === loggedUser.id)">
                    <mat-icon class="pending-icon" inline="true">pending</mat-icon>
                  </ng-container>

                  <form class="estimate-form" *ngIf="user.id === loggedUser.id" [formGroup]="estimationForm" (submit)="estimate()">
                    <mat-form-field class="form-field" appearance="outline">
                      <mat-label>{{ 'planning.room.points.label' | translate }}</mat-label>
                      <input matInput formControlName="points" required autocomplete="off">
                      <mat-error *ngIf="estimationForm.controls.points.touched && estimationForm.controls.points.invalid">
                        <span *ngIf="estimationForm.controls.points.errors.required">{{ 'planning.room.points.mandatory' | translate }}</span>
                      </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">{{ 'planning.room.estimate' | translate }}</button>
                  </form>
                </ng-container>
              </ng-container>

            </mat-card>
          </ng-container>
        </div>
      </ng-container>

      <form class="final-estimation-form" *ngIf="currentTask" [formGroup]="finalEstimationForm" (submit)="finalEstimation()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>{{ 'planning.room.final-estimation.label' | translate }}</mat-label>
          <input matInput formControlName="points" required autocomplete="off">
          <mat-error *ngIf="finalEstimationForm.controls.points.touched && estimationForm.controls.points.invalid">
            <span *ngIf="finalEstimationForm.controls.points.errors && finalEstimationForm.controls.points.errors.required">
              {{ 'planning.room.points.mandatory' | translate }}</span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">{{ 'planning.room.estimate' | translate }}</button>
      </form>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
