<div *ngIf="room && !loggedUser" class="guest-login-container">
  <span class="join-room">{{'planning.home.join-room' | translate }}</span>
  <app-guest-login class="guest-login" [roomId]="room.id" (loggedInEvent)="guestUserLoggedIn($event)"></app-guest-login>
</div>

<mat-sidenav-container *ngIf="loggedUser && room" autosize="true">

  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <app-task-list (taskSelectedEvent)="taskSelected($event)"
                     [currentTask]="currentTask"
                     [tasks]="tasks"
                     [roomId]="room && room.id"
                     [sidenav]="sidenav"></app-task-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <div *ngIf="splittedUsers">

      <div class="room-top-container">
        <div class="room-title-container">
          <h1 class="room-title">{{'planning.room.title' | translate:{ title: this.room.title } }}</h1>
          <h2 class="room-description" *ngIf="room.description">{{room.description}}</h2>
        </div>
        <div class="top-buttons-container">
          <button mat-raised-button type="button" aria-label="Toggle sidenav" (click)="sidenav.toggle()"
                  color="primary" class="toggle-button">
            <mat-icon aria-label="Side nav toggle icon">list</mat-icon>
            {{ 'planning.room.taskList.button' | translate }}
          </button>

          <button mat-raised-button type="button" aria-label="Share room" (click)="openShareDialog()" color="primary" class="share-button">
            <mat-icon aria-label="Share icon">share</mat-icon>
            {{ 'planning.room.share.button' | translate }}
          </button>
        </div>
      </div>

      <div class="users-container horizontal above">
        <ng-container *ngFor="let user of splittedUsers.above">
          <app-user-in-room positionToDesk="above" [user]="user" [taskVotedByAll]="taskVotedByAll" [taskDone]="taskDone" [isCurrentUser]="user.id === loggedUser.id"
                            [estimation]="getEstimation(user.id)" [currentTask]="currentTask" [loggedUser]="loggedUser"></app-user-in-room>
        </ng-container>
      </div>

      <div class="desk-container">
        <div class="users-container vertical left">
          <ng-container *ngFor="let user of splittedUsers.left; let i = index">
            <app-user-in-room positionToDesk="left" [user]="user" [taskVotedByAll]="taskVotedByAll" [taskDone]="taskDone" [isCurrentUser]="user.id === loggedUser.id"
                              [estimation]="getEstimation(user.id)" [currentTask]="currentTask" [loggedUser]="loggedUser"></app-user-in-room>
          </ng-container>
        </div>

        <div class="desk">
          <div *ngIf="currentTask" class="task-title-container">
            <h3 class="task-title">{{'planning.room.task.title' | translate:{ title: currentTask.title } }}</h3>

            <button mat-raised-button type="button" aria-label="Reset estimations" (click)="resetEstimations()" color="primary" class="reset-button">
              <mat-icon aria-label="Reset icon">restart_alt</mat-icon>
              {{ 'planning.room.reset.button' | translate }}
            </button>


            <span *ngIf="currentTask.estimation && currentTask.estimation.card">{{'planning.room.task.final-estimation' | translate:{ estimation: currentTask.estimation.card.value } }}</span>

            <app-estimation-form *ngIf="currentTask && false" class="final-estimation-form"
                                 isFinal="true"
                                 [deckId]="room.deckId"
                                 [guestUserId]="loggedUser.id"
                                 [taskId]="currentTask.id">
            </app-estimation-form>
          </div>
        </div>

        <div class="users-container vertical right">
          <ng-container *ngFor="let user of splittedUsers.right; let i = index">
            <app-user-in-room positionToDesk="right" [user]="user" [taskVotedByAll]="taskVotedByAll" [taskDone]="taskDone" [isCurrentUser]="user.id === loggedUser.id"
                              [estimation]="getEstimation(user.id)" [currentTask]="currentTask" [loggedUser]="loggedUser"></app-user-in-room>
          </ng-container>
        </div>
      </div>

      <div class="users-container horizontal below">
        <ng-container *ngFor="let user of splittedUsers.below; let i = index">
          <app-user-in-room positionToDesk="below" [user]="user" [taskVotedByAll]="taskVotedByAll" [taskDone]="taskDone" [isCurrentUser]="user.id === loggedUser.id"
                            [estimation]="getEstimation(user.id)" [currentTask]="currentTask" [loggedUser]="loggedUser"></app-user-in-room>
        </ng-container>
      </div>
    </div>

    <app-estimation-form *ngIf="currentTask"
                         [show]="taskVotedByAll || taskDone"
                         [deckId]="room.deckId"
                         [guestUserId]="loggedUser.id"
                         [taskId]="currentTask.id">
    </app-estimation-form>
  </mat-sidenav-content>
</mat-sidenav-container>
