<ng-container>
  <button mat-button class="translate-button" aria-label="Translate button" [matMenuTriggerFor]="menu">
    <mat-icon>translate</mat-icon>
    {{ 'language' | translate }}
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [ngClass]="{'active': activeLang == 'es'}" (click)="changeLanguage('es')">{{ 'language.spanish' | translate }}</button>
    <button mat-menu-item [ngClass]="{'active': activeLang == 'en'}" (click)="changeLanguage('en')">{{ 'language.english' | translate }}</button>
  </mat-menu>
</ng-container>
