<ng-container>
  <button mat-icon-button class="translate-icon" aria-label="Translate icon" [matMenuTriggerFor]="menu">
    <mat-icon>translate</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [ngClass]="{'active': activeLang == 'es'}" (click)="changeLanguage('es')">{{ 'language.spanish' | translate }}</button>
    <button mat-menu-item [ngClass]="{'active': activeLang == 'en'}" (click)="changeLanguage('en')">{{ 'language.english' | translate }}</button>
  </mat-menu>
</ng-container>
