@import "src/styles";

.estimate-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes move-up-negative {
  from {margin-bottom: -10px; }
  to { margin-bottom: 40px; }
}
@keyframes move-down-negative {
  from { margin-bottom: 40px; }
  to { margin-bottom: -10px; }
}
@keyframes move-up {
  from {margin-bottom: 0; }
  to { margin-bottom: 40px; }
}
@keyframes move-down {
  from { margin-bottom: 40px; }
  to { margin-bottom: 0; }
}

.estimation-carousel-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .choose-a-card {
    color: mat-color($primary);
    animation: move-down .2s;
  }

  .estimation-carousel {
    width: auto;
    transition: transform .2s;
    margin-bottom: -10px;
    animation: move-down-negative .2s;
  }

  .estimation-card {
    cursor: pointer;
    width: 30px;
    height: 40px;
    border-radius: 10px;
    margin: 4px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 25%);
    transition: transform .2s;

    &:hover {
      transform: scale(1.5);
      z-index: 99999;
    }
  }

  .estimation-card-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;;
  }


  .card-value {
    color: mat-color($cyan, 500);
    font-size: 30px;
    user-select: none;
  }

  &:hover {
    .choose-a-card {
      margin-bottom: 40px;
      animation: move-up .2s;
    }

    .estimation-carousel {
      transform: scale(2);
      margin-bottom: 40px;
      animation: move-up-negative .2s;
    }
  }
}

