<form class="estimate-form" [formGroup]="estimationForm" (submit)="estimate()">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>{{ 'planning.room.card.label' | translate }}</mat-label>
    <mat-select formControlName="cardId" required>
      <mat-option *ngFor="let card of deck && deck.cards" [value]="card.id">
        {{card.value}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="estimationForm.controls.cardId.touched && estimationForm.controls.cardId.invalid">
      <span *ngIf="estimationForm.controls.cardId.errors.required">{{ 'planning.room.card.mandatory' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">{{ 'planning.room.estimate' | translate }}</button>
</form>
