.spacer {
  flex: 1 1 auto;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60px;
  border-radius: 12px;
  margin-right: 12px;
}

.app-container {
  padding: 10px 48px;
  overflow: hidden;
}

.mat-app-background {
  height: 100%;
}

.title {
  font-weight: bold;
}
