$angular-dark-theme: mat-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
    )
);

.dark-mode {
  @include angular-material-color($angular-dark-theme);
}
