@import "hpp-theme";
@import "dark-theme";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
}

.mat-menu-item:hover {
  background: mat-color($accent, lighter) !important;
}

.darkMode .mat-menu-item:hover {
  background: mat-color($accent, darker) !important;
}

.darkMode .mat-card {
  background: #171717 !important;
}

@mixin md-icon-size($size: 24px) {
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
  line-height: $size !important;
}

.darkMode .mat-menu-item {
  color: white !important;
}

.darkMode .mat-error {
  color: mat-color($accent);
}

html, body { height: 100% !important }
