@import "hpp-theme";
@import "dark-theme";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
}

.mat-menu-item:hover {
  background: mat-color($accent, lighter) !important;
}

.dark-mode {
  .mat-menu-item:hover, .task-list-element:hover {
    background: mat-color($accent, 900) !important;
  }
}

.dark-mode .mat-card {
  background: #171717 !important;
}

button.active, .selected-task-list {
  background: mat-color($accent);
}

.dark-mode {
  button.active, .selected-task-list {
    background: mat-color($accent, 800) !important;
  }
}


@mixin md-icon-size($size: 24px) {
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
  line-height: $size !important;
}

.dark-mode .mat-menu-item {
  color: white !important;
}

.dark-mode .mat-error {
  color: mat-color($accent);
}

.dark-mode .mat-sidenav-content, .dark-mode .mat-sidenav {
  background: #303030 !important;
  color: white;

  h2 {
    color: white !important;
  }
}

.dark-mode .mat-list-item-content {
  color: white;
}

html, body { height: 100% !important }

mat-sidenav {
  min-width: 200px !important;
  max-width: 33% !important;
}

.mat-list-item-content {
  justify-content: space-between;
}

.mat-list-item-content span {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
