@import "hpp-theme";
@import "dark-theme";

$cyan: mat-palette($mat-cyan, A400);

@font-face {
  font-family: 'silka';
  src: url('assets/fonts/silka-regular.otf') format("opentype");
  font-weight: 400;
  font-display: swap
}

@font-face {
  font-family: 'silka';
  src: url('assets/fonts/silka-medium.ttf') format("truetype");
  font-weight: 500;
  font-display: swap
}

@font-face {
  font-family: 'silka';
  src: url('assets/fonts/silka-bold.ttf') format("truetype");
  font-weight: 700;
  font-display: swap
}

body {
  margin: 0;
  background-color: white;
  font-family: 'silka', "Helvetica Neue", sans-serif;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
}

.mat-menu-item:hover, .task-list-element:hover {
  background: mat-color($accent, lighter) !important;
}

.dark-mode {
  .mat-menu-item:hover, .task-list-element:hover {
    background: mat-color($accent, 900) !important;
  }
}

.dark-mode .mat-card {
  background: #171717 !important;
  color: white !important;
}

button.active, .selected-task-list {
  background: mat-color($accent);
}

.dark-mode {
  button.active, .selected-task-list {
    background: mat-color($accent, 800) !important;
  }
}

.floating-object {
  animation-name: floating-object;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating-object {
  from { transform: translate(0,  0px); }
  50%  { transform: translate(0, 5px); }
  to   { transform: translate(0, -0px); }
}

.abstract-shape {
  position: absolute;
  z-index: -1;


  svg {
    overflow: inherit;
  }
}


@mixin md-icon-size($size: 24px) {
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
  line-height: $size !important;
}

.dark-mode {
  .mat-menu-item, mat-form-field input {
    color: white !important;
  }
}

.dark-mode .mat-error {
  color: mat-color($accent);
}

.dark-mode .mat-sidenav-content, .dark-mode .mat-sidenav {
  background: #303030 !important;
  color: white;

  h2 {
    color: white !important;
  }
}

.dark-mode .mat-list-item-content {
  color: white;
}

mat-sidenav {
  min-width: 200px !important;
  max-width: 33% !important;
}

.mat-list-item-content {
  justify-content: space-between;
}

.mat-list-item-content span {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.estimation-carousel {
  .drag-scroll-content {
    overflow: hidden !important;
  }
}

* {
  font-weight: bold;
}

.dark-mode {
  .desk {
    background-color: darken(mat-color($cyan), 40%) !important;
  }

  .estimation-card {
    border: 4px solid mat-color($cyan, 700);
    background-color: #212121 !important;

    .card-value {
      color: mat-color($accent);
    }
  }
}

.light-mode {
  .estimation-card {
    border: 4px solid mat-color($cyan, 700);
    background-color: white;

    .card-value {
      color: mat-color($cyan, 700);
    }
  }
}

.ok-snackbar .mat-simple-snackbar {
  justify-content: center;
}
